/* --------- FÖR MOBIL --------- */

@media screen and (max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
    }
}



/* ---------  BODY ------------- */
body {
    background-color: rgb(241, 241, 238);
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* ----------------------------- */




/* ------------ HEADER ------- */

header {
    text-align: center;
}

.header-logo {
    width: 120px;
    height: auto;
    padding-top: 15px;

}

/* --------------------------- */





/* NAVIGERIGSMENY */
nav {
    background-color: rgb(241, 241, 238);
    padding: 20px;
    text-align: center;
}

nav li {
    margin-top: 5px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    /* Centrera länkarna */
    align-items: center;
    flex-wrap: wrap;
    /* Lägg till detta om länkarna kan vara för många för en rad på mobil */
}

nav a {
    color: black;
    display: block;
    text-decoration: none;
    margin: 0 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.4px;
    /* Ökar avståndet mellan bokstäver */
}

/* --------------------- */


/* -------- CONTAINERS -------------- */
.container-content {
    max-width: 800px;
    padding: 25px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;

}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1rem;
    ;
    letter-spacing: 2px;
    /* Ökar avståndet mellan bokstäver */
    line-height: 1.5;
    /* Ökar radavståndet */
    text-transform: uppercase;
    /* Gör all text i containern versal */
    padding-bottom: 10px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 1.4px;
    /* Ökar avståndet mellan bokstäver */
    line-height: 1.5;
    /* Ökar radavståndet */
}

/* ---------------- */


/* SLOGAN */
.box_image {
    text-align: center;
    /* Centrera innehåll horisontellt */
    padding-top: 15px;
}

.slogan {
    width: 280px;
    height: auto;
}

/* ---------------- */






/* -----MENY AS LOGGED IN --------- */
.menu_active {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.menu_active a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.menu_active a:hover {
    background-color: #575757;
    color: #ffffff;
    border-radius: 4px;
}

.menu_active a.active {
    background-color: #575757;
    color: #ffffff;
    border-radius: 4px;
}

/* --------------------- */



/* -----------  FOOTER ---------- */
.footer {
    color: black;
    text-align: center;
    margin-top: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.6rem;
    letter-spacing: 1.4px;
    line-height: 1.5;
}