/* ---------  BODY ------------- */
body {
    background-color: rgb(241, 241, 238);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
/* ----------------------------- */




/* ------------ HEADER ------- */

header {
    text-align: center;
}

.header-logo {
    width: 120px;
    height: auto;
    padding-top: 10px;

}
/* --------------------------- */





.active {
    color: white;
}

ul#result li {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
}



/* NAVIGERIGSMENY */
nav {
    background-color: rgb(241, 241, 238);
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centrera länkarna */
    align-items: center;
    flex-wrap: wrap;
    /* Lägg till detta om länkarna kan vara för många för en rad på mobil */
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.4px; /* Ökar avståndet mellan bokstäver */
}

nav a.active {
    border-bottom: 2px solid black;
    color: black;
    /* Indikera aktiv länk */
}
/* --------------------- */


/* -------- CONTAINERS -------------- */
.container-content {
    max-width: 800px;
    padding: 20px;
    text-align: center;
    padding-top: 10px;

}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1rem;;
    letter-spacing: 2px; /* Ökar avståndet mellan bokstäver */
    line-height: 1.5; /* Ökar radavståndet */
    text-transform: uppercase; /* Gör all text i containern versal */
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 1.4px; /* Ökar avståndet mellan bokstäver */
    line-height: 1.5; /* Ökar radavståndet */
}



/* SLOGAN */
.box_image {
    text-align: center; /* Centrera innehåll horisontellt */
    padding-top: 15px;
}

.slogan {
    width: 280px;
    height: auto;
}
/* ---------------- */



/* --------------- BUTTONS -------------- */
.button-container {
    display: flex;
    justify-content: center; /* Centrera horisontellt */
    align-items: center; /* Centrera vertikalt */
    gap: 5px; /* Utrymme mellan knapparna */
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

.btn {
    padding: 14px 24px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.login-btn {
    background-color: #F1F1EE;
    color: black;
    border: 1px solid black;
}


.register-btn {
    background-color: #000000;
    color: white;
    border: 1px solid black;
}


/* -----------  FOOTER ---------- */
.footer {
    color: black;
    text-align: center;
    margin-top: auto;
    padding: 10px;
    width: 100%;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.6rem;
    letter-spacing: 1.4px; 
    line-height: 1.5; 
}


/* TODO: add styling for flash message box 
 including warning, info, success, error */

/* More TODO: add styling for 
menu, logged in user */