/* --------- FÖR MOBIL --------- */

@media screen and (max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
    }
}



/* ---------  BODY ------------- */
body {
    background-color: rgb(241, 241, 238);
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
/* ----------------------------- */




/* ------------ HEADER ------- */

header {
    text-align: center;
}

.header-logo {
    width: 120px;
    height: auto;
    padding-top: 15px;

}
/* --------------------------- */





.active {
    color: white;
}

ul#result li {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
}



/* NAVIGERIGSMENY */
nav {
    background-color: rgb(241, 241, 238);
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centrera länkarna */
    align-items: center;
    flex-wrap: wrap;
    /* Lägg till detta om länkarna kan vara för många för en rad på mobil */
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.4px; /* Ökar avståndet mellan bokstäver */
}

nav a.active {
    border-bottom: 2px solid black;
    color: black;
    /* Indikera aktiv länk */
}
/* --------------------- */


/* -------- CONTAINERS -------------- */
.container-content {
    max-width: 800px;
    padding: 25px;
    text-align: center;
    padding-top: 10px;

}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1rem;;
    letter-spacing: 2px; /* Ökar avståndet mellan bokstäver */
    line-height: 1.5; /* Ökar radavståndet */
    text-transform: uppercase; /* Gör all text i containern versal */
    padding-bottom: 10px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 1.4px; /* Ökar avståndet mellan bokstäver */
    line-height: 1.5; /* Ökar radavståndet */
}

/* ---------------- */



/* -------- FORM ------------- */
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

button[type="submit"]:hover {
    background-color: #4cae4c;
}
/* ---------------------- */


/* -----------  FOOTER ---------- */
.footer {
    color: black;
    text-align: center;
    margin-top: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.6rem;
    letter-spacing: 1.4px; 
    line-height: 1.5; 
}