/* --------- FÖR MOBIL --------- */

@media screen and (max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
    }
}



/* ---------  BODY ------------- */
body {
    background-color: rgb(241, 241, 238);
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* ----------------------------- */




/* ------------ HEADER ------- */

header {
    text-align: center;
}

.header-logo {
    width: 120px;
    height: auto;
    padding-top: 15px;

}

/* --------------------------- */





/* NAVIGERIGSMENY */
nav {
    background-color: rgb(241, 241, 238);
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centrera länkarna */
    align-items: center;
    flex-wrap: wrap;
    /* Lägg till detta om länkarna kan vara för många för en rad på mobil */
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.4px;
    /* Ökar avståndet mellan bokstäver */
}

nav a.active {
    border-bottom: 2px solid black;
    color: black;
    /* Indikera aktiv länk */
}

/* --------------------- */


/* -------- CONTAINERS -------------- */
.container-content {
    max-width: 800px;
    padding: 25px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;

}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1rem;
    ;
    letter-spacing: 2px;
    /* Ökar avståndet mellan bokstäver */
    line-height: 1.5;
    /* Ökar radavståndet */
    text-transform: uppercase;
    /* Gör all text i containern versal */
    padding-bottom: 10px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 1.4px;
    /* Ökar avståndet mellan bokstäver */
    line-height: 1.5;
    /* Ökar radavståndet */
}

/* ---------------- */


/* SLOGAN */
.box_image {
    text-align: center;
    /* Centrera innehåll horisontellt */
    padding-top: 15px;
}

.slogan {
    width: 280px;
    height: auto;
}

/* ---------------- */




/* -------- FORM ------------- */
.container {
    background-color: #F1F1EE;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 35px,
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    ;
    letter-spacing: 2.5px;
    /* Ökar avståndet mellan bokstäver */
    line-height: 1.5;
    /* Ökar radavståndet */
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 0;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

button[type="submit"] {
    padding: 10px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-decoration: none
}

/* ---------------------- */



/* -----REGISTER BUTTON --------- */
.button-container {
    display: flex;
    justify-content: center;
    /* Centrera horisontellt */
    align-items: center;
    /* Centrera vertikalt */
    max-width: 800px;
    padding: 20px;
    text-align: center;
}


.btn {
    padding: 10px;
    width: 60%;
    background-color: #f1f1ee;
    color: black;
    border: solid 1px black;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-decoration: none
}


/* ------------------ */

/* FILVÄLJARE */
.file {
    color: white;
}

select[multiple] {
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
    overflow: auto;
}


ul#result {
    display: flex;
    flex-direction: column;
    color: black;
}

ul#result li {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}



/* ACCOUNT EDIT */
/* Stilar för formulärbehållaren */

.container_account {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.account_edit_box {
    background-color: rgb(36, 36, 36);
    ;
    padding: 30px;
    width: 100%;
}

/* Stilar för formulärets etiketter */
.account_edit_box label {
    margin-top: 20px;
    display: block;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 2px;
    /* Increase letter spacing */
    line-height: 1.5;
    /* Increase line height */
    text-transform: uppercase;
}

/* Stilar för formulärets textfält */
.account_edit_box input[type="text"],
.account_edit_box input[type="description"] {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #f1f1ee;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 1.4px;
    /* Increase letter spacing */
    line-height: 1.5;
    /* Increase line height */
    text-transform: uppercase;
    color: black;
}



/* Stilar för formulärets knappar */
.account_edit_box input[type="submit"] {
    width: 48%;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

/* Specifika färger för olika knappar */
.account_edit_box input[name="save"] {
    background-color: white;
    color: black;
    width: 100%;
    height: 55px;
    border: 1px solid white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 3px;
    /* Increase letter spacing */
    line-height: 1.5;
    /* Increase line height */
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
}

.account_edit_box input[name="delete"] {
    background-color: black;
    color: white;
    margin-right: 4%;
    width: 100%;
    height: 55px;
    border-radius: 0px;
    margin-bottom: 10px;
    border: 1px solid white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 3px;
    /* Increase letter spacing */
    line-height: 1.5;
    /* Increase line height */
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* Stil för dolda inputfält */
.account_edit_box input[type="hidden"] {
    display: none;
}

.edit_text {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    letter-spacing: 2px;
    /* Increase letter spacing */
    line-height: 1.7;
    /* Increase line height */
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 20px;
}

/* ------------ */



/* -----------  FOOTER ---------- */
.footer {
    color: black;
    text-align: center;
    margin-top: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.6rem;
    letter-spacing: 1.4px;
    line-height: 1.5;
}