/* --------- FÖR MOBIL --------- */

@media screen and (max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
    }
}



/* ---------  BODY ------------- */
body {
    background-color: rgb(241, 241, 238);
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* ----------------------------- */




/* ------------ HEADER ------- */

header {
    text-align: center;
}

.header-logo {
    width: 120px;
    height: auto;
    padding-top: 15px;

}

/* --------------------------- */





/* NAVIGERIGSMENY */
nav {
    background-color: rgb(241, 241, 238);
    padding: 20px;
    text-align: center;
}

nav li {
    margin-top: 5px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    /* Centrera länkarna */
    align-items: center;
    flex-wrap: wrap;
    /* Lägg till detta om länkarna kan vara för många för en rad på mobil */
}

nav a {
    color: black;
    display: block;
    text-decoration: none;
    margin: 0 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.4px;
    /* Ökar avståndet mellan bokstäver */
}

/* --------------------- */


/* -------- CONTAINERS -------------- */
.container-content {
    max-width: 800px;
    background-color: rgb(36, 36, 36);
    padding: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    margin-top: 15px;

}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    text-align: center;
    font-style: normal;
    font-size: 1.1rem;
    ;
    letter-spacing: 2px;
    /* Ökar avståndet mellan bokstäver */
    line-height: 1.5;
    /* Ökar radavståndet */
    text-transform: uppercase;
    /* Gör all text i containern versal */
    padding-bottom: 40px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 1.4px;
    /* Ökar avståndet mellan bokstäver */
    line-height: 1.5;
    /* Ökar radavståndet */
}


.exampels {
    margin-top: 70px;
    margin-bottom: 10px;
    ;
}

/* ---------------- */


/* SLOGAN */
.box_image {
    text-align: center;
    /* Centrera innehåll horisontellt */
    padding-top: 15px;
}

.slogan {
    width: 280px;
    height: auto;
}

/* ---------------- */



/* --------SEARCH----------- */
/* Form Container */
.search {
    max-width: 600px;
    margin: 40px auto;
    /* Center the form and add top and bottom margin */
    padding: 30px;
    /* Add padding inside the form container */
    background-color: #f9f9f9;
}

/* Form Labels */
.search label {
    display: block;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 1.4px;
    /* Increase letter spacing */
    line-height: 1.5;
    /* Increase line height */
    text-transform: uppercase;
    color: black;
    text-align: center;
    /* Center the labels */
}

/* Form Inputs */
.search input[type="text"],
.search input[type="file"],
.search textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

/* Textarea */
.search textarea {
    height: 100px;
    resize: vertical;
}

/* Submit Button */
.search button[type="submit"] {
    padding: 10px;
    width: 100%;
    background-color: #000000;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Status Message */
.search p {
    color: #e74c3c;
    font-weight: bold;
}

/* ----------- */


/* ADDED-BOX */
.added {
    padding: 20px;
    margin-bottom: -30px;
}

.account {
    padding: 40px;
    background-color: #242424;
    color: white;
    margin-bottom: 40px;
    margin-top: 20px;
}

.account_text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    font-style: normal;
    font-size: 1.1rem;
    ;
    letter-spacing: 2px;
    /* Ökar avståndet mellan bokstäver */
    line-height: 1.8;
    /* Ökar radavståndet */
    text-transform: uppercase;
    /* Gör all text i containern versal */
}

/* -------- */



/* ---- TEXT ------- */
#greetings2 {
    font-family: "Poppins", sans-serif;
    color: #f1f1f1;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    ;
    letter-spacing: 3px;
    /* Ökar avståndet mellan bokstäver */
    line-height: 1.5;
    /* Ökar radavståndet */
    text-transform: uppercase;
    /* Gör all text i containern versal */
    padding-bottom: 10px;
}

#get_started {
    font-family: "Poppins", sans-serif;
    color: #f1f1f1;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
    letter-spacing: 1.4px;
    /* Ökar avståndet mellan bokstäver */
    line-height: 1.5;
    /* Ökar radavståndet */
}

/* ----------------- */



/* Result */
.results {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#result {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 600px;
}

#result li {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#result .name {
    color: black;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 1.4px;
    /* Ökar avståndet mellan bokstäver */
    line-height: 1.5;
    /* Ökar radavståndet */
    text-transform: uppercase;
}

#result .address {
    color: black;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    /* Ökar avståndet mellan bokstäver */
    line-height: 1.5;
    /* Ökar radavståndet */
}

#result .description {
    color: black;
    margin: 10px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    /* Ökar avståndet mellan bokstäver */
    line-height: 1.5;
    /* Ökar radavståndet */
}

#result img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

#result a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 20px;
    background-color: #1a1a1a;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 1.4px;
    /* Ökar avståndet mellan bokstäver */
    line-height: 1.5;
    /* Ökar radavståndet */
}

#result a:hover {
    background-color: #0056b3;
}

.fa-heart {
    font-size: 1.5em;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
    position: absolute;
    right: 15px;
    top: 15px;
}

.fa-heart.favorited {
    color: #e74c3c;
}

/* ------------------ */






/* -----MENY AS LOGGED IN --------- */
.menu_active {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.menu_active a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.menu_active a:hover {
    background-color: #575757;
    color: #ffffff;
    border-radius: 4px;
}

.menu_active a.active {
    background-color: #575757;
    color: #ffffff;
    border-radius: 4px;
}

/* --------------------- */



/* -----------  FOOTER ---------- */
.footer {
    color: black;
    text-align: center;
    margin-top: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}



p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.6rem;
    letter-spacing: 1.4px;
    line-height: 1.5;
}